<title>Tecblog - seu blog de tecnologia</title>
<!--flex box to agroup and manipulate HTML's elements and tags-->  
<div id="flex">
  <div id="navbar">
    <!-- area and menu on top of the site, linking others components using routerLink -->
    <div id="area">
    <h1><span class="verde">Tec</span>blog</h1>
    <div id="menu">
      <a routerLink="/games">Games</a>
      <a routerLink="/apps">Apps</a>
    </div>
    </div>
  </div>
  <!-- this the posting area, using img tags and p tags to make some notices -->
  <div class="area-principal">
    <div class="postagem">
    <h2>Titulo da postagem</h2>
    <span class="data-postagem"> postado em 5 de maio de 2019</span>
    <img class="img-post" src="https://www.armytimes.com/resizer/g1UW5WrWMj1PY7cjDWighNfO3JI=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/XU2OFLT37RFMZF7IEQBMH56G2Q.jpg" width="250px" height="200px" alt="pode conter uma pessoa">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ipsum ut tellus consectetur faucibus. Maecenas libero mi, volutpat nec urna quis, imperdiet sodales arcu. Nunc tincidunt augue vel tortor porta, at tincidunt augue ultrices. Nam lorem leo, efficitur in tempus id, posuere vitae lectus. Nullam non pretium ante, sit amet faucibus est. Sed semper ante vel ligula eleifend, tempus viverra tellus efficitur. Sed eu ex iaculis, fermentum justo venenatis, hendrerit augue. Nam mattis nulla cursus tellus congue, id tempor lectus euismod. Nunc fermentum quam id ipsum ultricies dictum. Sed feugiat tortor eget sapien mattis, eu mattis leo tempus. Phasellus vel pellentesque felis. Suspendisse in malesuada ex, sit amet pharetra lorem. Aenean faucibus, 
      purus vitae bibendum cursus, sapien erat egestas ipsum, ut tempus felis felis ac eros. Morbi a lobortis ligula.</p>
      <span class="poster">Postado por Rickardido</span>
    </div>
    <br>
    <div class="postagem">
        <h2>Titulo da postagem</h2>
        <span class="data-postagem"> postado em 5 de maio de 2019</span>
        <img class="img-post" src="https://www.armytimes.com/resizer/g1UW5WrWMj1PY7cjDWighNfO3JI=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/XU2OFLT37RFMZF7IEQBMH56G2Q.jpg" width="250px" height="200px" alt="pode conter uma pessoa">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ipsum ut tellus consectetur faucibus. Maecenas libero mi, volutpat nec urna quis, imperdiet sodales arcu. Nunc tincidunt augue vel tortor porta, at tincidunt augue ultrices. Nam lorem leo, efficitur in tempus id, posuere vitae lectus. Nullam non pretium ante, sit amet faucibus est. Sed semper ante vel ligula eleifend, tempus viverra tellus efficitur. Sed eu ex iaculis, fermentum justo venenatis, hendrerit augue. Nam mattis nulla cursus tellus congue, id tempor lectus euismod. Nunc fermentum quam id ipsum ultricies dictum. Sed feugiat tortor eget sapien mattis, eu mattis leo tempus. Phasellus vel pellentesque felis. Suspendisse in malesuada ex, sit amet pharetra lorem. Aenean faucibus, 
          purus vitae bibendum cursus, sapien erat egestas ipsum, ut tempus felis felis ac eros. Morbi a lobortis ligula.</p>
          <span class="poster">Postado por Rickardido</span>
        </div>
        <br>
    <div class="postagem">
        <h2>Titulo da postagem</h2>
        <span class="data-postagem"> postado em 5 de maio de 2019</span>
        <img class="img-post" src="https://www.armytimes.com/resizer/g1UW5WrWMj1PY7cjDWighNfO3JI=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/XU2OFLT37RFMZF7IEQBMH56G2Q.jpg" width="250px" height="200px" alt="pode conter uma pessoa">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ipsum ut tellus consectetur faucibus. Maecenas libero mi, volutpat nec urna quis, imperdiet sodales arcu. Nunc tincidunt augue vel tortor porta, at tincidunt augue ultrices. Nam lorem leo, efficitur in tempus id, posuere vitae lectus. Nullam non pretium ante, sit amet faucibus est. Sed semper ante vel ligula eleifend, tempus viverra tellus efficitur. Sed eu ex iaculis, fermentum justo venenatis, hendrerit augue. Nam mattis nulla cursus tellus congue, id tempor lectus euismod. Nunc fermentum quam id ipsum ultricies dictum. Sed feugiat tortor eget sapien mattis, eu mattis leo tempus. Phasellus vel pellentesque felis. Suspendisse in malesuada ex, sit amet pharetra lorem. Aenean faucibus, 
          purus vitae bibendum cursus, sapien erat egestas ipsum, ut tempus felis felis ac eros. Morbi a lobortis ligula.</p>
          <span class="poster">Postado por Rickardido</span>
        </div>
  
  

</div>